*{
	
	margin:0;
	padding:0;
}

header,footer,
article,section,
hgroup,nav,
figure{
	display:block;
}

body{
	font-size:0.825em;
	color:#fcfcfc;
	background-color:#355664;
	font-family:Arial, Helvetica, sans-serif;
}


a, a:visited {
	color:#0196e3;
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration:underline;
}

a img{
	border:none;
}


h1,h3{
	font-family:"Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
	text-shadow:0 1px 1px black;
}

h1{
	
	font-size:3.5em;
	padding:0.5em 0 0;
	text-transform:uppercase;
	color: green;
}

h3{
	
	font-family:forte,"Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
	font-size:2em;
	color: black;
	font-weight:normal;
	margin:0 0 1em;

}







article .line{
	background-color:#15242a;
	border-bottom-color:#204656;
	margin:1.5em 0;
}

footer .line{
	margin:2em 0;
}

nav{
	background:url(img/gradient_light.jpg) repeat-x 50% 50% #f8f8f8;
	padding:0 5px;
	position:absolute;
	right:0;
	top:4em;
	border:1px solid #FCFCFC;
    -moz-box-shadow:0 1px 1px #333333;
	-webkit-box-shadow:0 1px 1px #333333;
	box-shadow:0 1px 1px #333333;
}



.clear:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}


nav ul li{
	display:inline;
}

nav ul li a,
nav ul li a:visited{
	color:#565656;
	display:block;
	float:left;
	font-size:1.25em;
	font-weight:bold;
	margin:5px 2px;
	padding:7px 10px 4px;
	text-shadow:0 1px 1px white;
	text-transform:uppercase;
}



nav, article, nav ul li a,figure{
	
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
.activee {
  background-color: red;
}



#page{
	width:960px;
	margin:0 auto;
	position:relative;
}

article{
	background-color:#213E4A;
	margin:3em 0;
	padding:20px;
	text-shadow:0 2px 0 black;
}

figure{
	border:3px solid #142830;
	float:right;
	height:200px;
	margin-left:15px;
	overflow:hidden;
	width:300px;
	background: url(cat3.jpg) no-repeat;
	
}

figure:hover{
	-moz-box-shadow:0 0 2px #4D7788;
	-webkit-box-shadow:0 0 2px #4D7788;
	box-shadow:0 0 2px #4D7788;
}

figure img{
	margin-left:-60px;
}

div.admin {
  margin: 5px;
 background-color: white;
  float: left;
  width: 200px;
  height: 200px;
  font-size: 22px;
  text-align: center;
}

div.admin:hover {
  border: 9px solid black;
}

